.gsd-keyboard.settings-ported
monitors.xml~
dconf/
autostart/
btop/
doomretro/
Electron
evolution/
gnome-session/
go/
goa-1.0/
google-chrome/
gtk-3.0/
gtk-4.0/
htop/
ibus/
libvirt/
mimeapps.list
monitors.xml
nautilus/
neofetch/
nitrogen/
obsidian/
Postman/
pulse/
remmina/
Rygel/
rygel.conf
systemd/
user-dirs.dirs
user-dirs.locale
variety/
nvim/
