procps/
Code - OSS/
Kvantum/
arkrc
baloofileinformationrc
baloofilerc
cfg_backups/
chromium/
code-flags.conf
connections.db
dolphinrc
dunst/
gtk-4.0
hyde/
hypr/animations.conf
hypr/keybindings.conf
hypr/monitors.conf
hypr/themes/
hypr/userprefs.conf
hypr/windowrules.conf
kde.org/
kdeglobals
menus/
nwg-look/
pavucontrol.ini
qt5ct/
qt6ct/
rofi/assets/
rofi/clipboard.rasi
rofi/notification.rasi
rofi/quickapps.rasi
rofi/selector.rasi
rofi/steam/
rofi/styles/
rofi/theme.rasi
rofi/wallbash.rasi
session/
swappy/
swaylock/
vesktop/
vlc/
waybar/
wlogout/
xsettingsd/

procps/
user-share/
yay/
QtProject.conf
VirtualBox/
discord/
.gsd-keyboard.settings-ported
monitors.xml~
dconf/
autostart/
btop/
doomretro/
Electron
evolution/
gnome-session/
go/
goa-1.0/
google-chrome/
gtk-3.0/
gtk-4.0/
htop/
ibus/
libvirt/
mimeapps.list
monitors.xml
nautilus/
neofetch/
nitrogen/
obsidian/
Postman/
pulse/
remmina/
Rygel/
rygel.conf
systemd/
user-dirs.dirs
user-dirs.locale
variety/
